.greeting {
    margin-bottom: 50px;
}

.greeting__text {
    font-size: 20px;
    font-weight: bold;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
    width: 72.9%;
    max-width: 1050px;
    max-height: 450px;
    margin: auto;
}

form {
    max-width: 500px;
    max-height: 200px;
    margin: auto;
}

.stamp-button {
    background-color: white;
    color: black;
    min-width: 500px;
    min-height: 200px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    border: none;
    border-radius: 5px;
}

.stamp-button.inactive {
    color: #d0d0d0;
}

button:disabled {
    color: #ddd;
}